.uploader{
    height: 200px;
    position: relative;
    border: 3px solid green;
    text-align: center;
}

.upload_form{
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}