<html>

<head>
   <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='style.css')}}">
</head>

<body>
      <div class="uploader">
         {% with messages = get_flashed_messages() %}
            {% if messages %}
               {% for message in messages %}
                  {{ message }}
               {% endfor %}
            {% endif %}
         {% endwith %}
         <form class="upload_form" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="excel_file" id="excel_file">
            {{ form.submit() }}
         </form>
      </div>
</body>

</html>
